
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

section{background-color: black;font-family: "Pretendard Variable";font-weight:300;color: white;}
.as{width: 90%; padding: 5% 5% 0 5% ;}
#one{font-size: 3.6rem; width: 30%;font-weight:700;}
#two{width:60%; font-size: 0.9rem;font-weight:500;}
#three{width:70%; font-size:0.8rem; color: rgb(184, 184, 184);}
#img_box{width: 90%; padding: 5% 5% 0 5%;}
#img_box img{width: 28%; padding-left: 3%; }
.as2{width: 90%; padding: 5% 5% 0 5% ;}
.as2 p{width: 60%;font-size: 0.6rem; text-align: center; margin-left:19.5%; padding-top: 5%;line-height: 2rem;}

#three:hover{color: white; transition: all 0.5s;}



.imgBox img{min-height: 100%; max-width: 100%;}
.imgHoverEvent{width: 35%; height: 35%; margin: 7%; position: relative; overflow: hidden; display: inline-block;}
.imgHoverEvent .imgBox{width: 100%; height: 100%; text-align: center; background:url(http://gahyun.wooga.kr/portfolio/triple/resources/img/city00.jpg) no-repeat 50% 50%; background-size: auto 25%;}
.imgHoverEvent .hoverBox{position: absolute; top:0; left: 0; width: 100%; height: 100%;}
.hoverBox p.p1{text-align:center; font-size:2rem;}
.hoverBox p.p2{margin-top: 5%;font-size:0.9rem;}
.event2 .imgBox{filter: blur(3px) grayscale(100%); transition: 0.5s;}
.event2 .hoverBox span{display: block; position: absolute; width:100%; top: 50%; transform: translateY(-50%)}
.event2 .hoverBox span p.p2{text-align: center;}
.event2:hover .hoverBox{display: none;}
.event2:hover .imgBox{filter: blur(0) grayscale(0);}

#img_p{font-family: "Pretendard Variable";
        font-weight: 800; text-align: center; font-size: 0.9rem; padding-top: 6%;}
/* 태블릿 */
@media all and (min-width: 744px){
        #one{
                font-size: 5rem;
        }
        #two{
                font-size: 2.1rem;
        }
        #three{
                font-size:1.55rem;
        }
        #img_p{font-size: 0.9rem;}
        .as2 p{font-size: 1.3rem;}
        .hoverBox p.p1{font-size:4rem;}
        .hoverBox p.p2{font-size:1.5rem;}
}
/* PC */
@media all and (min-width: 1024px){
        #one{
                font-size: 10rem;
        }
        #two{
                font-size: 3.7rem;
        }
        #three{
                font-size:2rem;
        }
        #img_p{font-size: 2rem;}
        .as2 p{font-size: 1.3rem;}
        .hoverBox p.p1{font-size:4rem;}
        .hoverBox p.p2{font-size:1.5rem;}
}